html, body{
    font-family: Arial, Helvetica, sans-serif;
}

#card{
    background-color: rgba(96, 96, 251, 0.979);
    border: 6px gold solid;
    height: 225px ;
    width: 175px; ;
}

#poke-name{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

#img-container{
    height: 100px;
    

}


